/*================== Var ==========================*/
:root {
  --background: #bbb7b7;
  --white: #ffffff;
  --red: #ff0000;
  --black: #000000;
  --gold: #c78c19;
  --green: #099c19;
  --gray: #aaa;
  --gray-clear: #bbbbbb;
  --gray-strong: #777777;
}
/*================== base ==========================*/
header {
  background: var(--background);
  padding: 20px 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.box {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
/*================== nav ==========================*/
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--black);
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--gold);
  text-decoration: underline;
}

/*================== products ==========================*/
.product {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.product li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid var(--black);
  border-radius: 10px;
}
.product li:hover {
  border-color: var(--gold);
}
.product li:active {
  border-color: var(--green);
}
.product li:hover h2 {
  font-size: 30px;
}
.product h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
}
.p-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-top: 10px;
}
.p-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
/*================== footer ==========================*/
footer {
  text-align: center;
  background: url('/assets/bg.jpg');
  padding: 40px 0;
}
.copyright {
  color: var(--white);
  font-size: 13px;
  margin: 20px 0 0;
}
/*================== profecional ==========================*/
.input-base {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px;
}
.send {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
.send:hover {
  background: var(--gold);
  transform: scale(1.2);
}
/*================== contacts ==========================*/
.contact {
  width: 940px;
  margin: 40px;
}
.input-base {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px 0;
}
.send {
  width: 40%;
  padding: 15px 0;
  background: var(--gold);
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
.send:hover {
  background: darkorange;
  transform: scale(1.2);
}
/*================== etc ==========================*/

/* input padrao */
main {
}
form {
  margin: 40px 0;
}
form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}
/*================== table ==========================*/
table {
  margin: 20px 0 40px;
}
thead {
  background: #555555;
  color: white;
  font-weight: bold;
}
td,
th {
  border: 1px solid var(--black);
  padding: 8px 15px;
}
/*================== banner ==========================*/
.banner {
  width: 100%;
}
.title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}
.home {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}
.home p {
  margin: 0 0 1em;
}
.home b {
  font-weight: bold;
}
.home em {
  font-style: italic;
}
.utensils {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}
/*================== map ==========================*/
.map {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.map-content {
  width: 940px;
  margin: 0 auto;
}

.map p {
  margin: 0 0 2rem;
  text-align: center;
}
/*==================content==========================*/
.container {
  background: #888888;
  padding: 3em 0;
}
.content {
  width: 640px;
  margin: 0 auto;
}
.content-itens {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.content-img {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 var(--black);
}

/*==================itens==========================*/
.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: '🟊';
}
.content-img {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
}
.content-img:hover {
  opacity: 0.3;
}
/*============================================*/
.video {
  width: 560px;
  margin: 2em auto;
}
@media screen and (max-widht: 480px) {
  .box,
  .container,
  .content-itens,
  .map-content,
  .video {
    width: auto;
  }
  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  .content-itens,
  .content-img {
    width: 100%;
  }
}
